.sell{
    background-color: rgb(70, 69, 69);
    color: antiquewhite;
    height: 500px;
    width: 500px;
    margin-left: 380px;

}
.s_sign{
    background-color: rgb(96, 96, 187);
    height: 700px;
    width: 950px;
    margin-left: 200px; 
}