{% extends 'sellerpage/seller_home.html' %}

{% block content %}

{% load static %}

<div class="row">

    {% for product in products %}
    <div class="col-3 ms-4 p-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <a href=""><img src="{{product.product_image.url}}" class="card-img-top" alt="..." style="width:200px; height:200px;"></a>
            <div class="card-body">
                <h5 class="card-title">{{product.product_name|title}}</h5>
                <h2>Rs.{{product.product_price}}</h2>
                <!-- <p class="card-text" style="overflow: hidden;">{{product.product_discription}}</p> -->

                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}