{% extends 'sellerpage/seller_home.html' %}

{% block content %}

{% load static %}

<div>
    <header class="text-center ">
        <h1>CHANGE PASSWORD</h1>
    </header>
</div>
<div class="container p-4">
    <div class="cust p-4">
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CURENT PASSWORD</label>
                <input type="text" name="cur_pass" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">NEW PASSWORD</label>
                <input type="text" name="new_pass" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">CONFROM PASSWORD</label>
                <input type="text" name="conf_pass" class="form-control" id="exampleInputPassword1">
            </div>
           <div>
            <button type="submit" class="btn btn-primary">SET PASSWORD</button><br>
           </div>
            {{msg}}
        </form>
    </div>
</div>


{% endblock %}