<!-- {% extends 'sellerpage/seller_home.html' %} -->

{% block content %}

{% load static %}

<div class="text-center admin_nmae">
    <h3 style="padding-left: 50px; padding-top: 10px;color:rgb(13, 13, 13);text-align: center;" ><b><i>SELLER NAME</i></b></h3>
</div>
<div class="row" style="flex: content;">
    <div class="col-md-9" style="width:300px">
        <img src="{% static 'images/0x0.jpg' %}" class=" " alt="" style="width: 200px;
        height: 200px;
        padding-top: 50px;">
        
    </div>
    <div class="" style="background-color: blue;width: 200px;
    height: 200px;
    padding-top: 50px;">
        
    </div>
</div>


{% endblock %}