{% block content %}

{% load static %}

<div  style="padding-left: 100PX;">

    <header class="" style="text-align: center;">
        <h1>PROFILE</h1>
        <h3>wellecome to profile {{data.seller_name}}</h3>
    </header>
    <a href=""><img src="{{data.seller_pic.url}}" class=" " alt="" style="width: 120px;
        height: 120px;
        padding-top: 10px;"></a><br>
    <span>change profile photo</span><br><br>
    <a href="{% url 'sellerpage:sellerhome' %}" style="padding-left: 0px;"><button>back</button></a><br><br>

    <div>
        
        <label for="" class="col-form-label text-light">PHOTO UPLODE</label>
        <input type="file" name="s_file" id="" class="form-control" aria-describedby=""><br><br>
        <a href="" class="lio" style="text-decoration: none; color:black"><b>NAME:{{data.seller_name}}</b></a><br><br>
        <a href="" class="lio" style="text-decoration: none; color:black"><b>EMAIL:{{data.seller_email}}</b></a><br><br>
        <a href="" class="lio" style="text-decoration: none; color:black"><b>ADDRESS:{{data.seller_addres}}</b></a><br><br>
        <a href="{% url 'sellerpage:sellerhome' %}" class="li0" style=" text-decoration: none;
                color: rgb(15, 15, 15);">HOME</a><br><br>



    </div> <br>




</div>
{% endblock %}